/* Color Theme Swatches in Hex */
$white: #F2F2F2;
$white-dark: #D9D9D9;
$gray: #696969;
$gray-dark: #404040;
$gray-darkl:#535353;
$black: #0D0D0D;

$graphicOne: #df34ba;
$graphicTwo: #378d37;
$graphicThree: #c77222;
