@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans&family=Poppins:wght@200;300&display=swap");
/* Color Theme Swatches in Hex */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1vw;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #696969;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #404040;
  width: 100%;
  height: 10%;
  font-size: 1vw;
  color: #F2F2F2;
}
body header #nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body header #nav p {
  font-size: 1.2vw;
}
body header #nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 30%;
}
body header #nav ul li {
  transition: 0.2s;
  text-align: center;
  width: 30%;
  border-radius: 2vw;
}
body header #nav ul li:hover {
  transition: 0.2s;
  background-color: #696969;
  cursor: pointer;
}
body #container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  margin: 2vw auto;
  background-color: #404040;
  width: 95%;
  height: 90%;
  border-radius: 0.5vw;
  z-index: 2;
  box-shadow: 0 0 0.2vw black;
}
body #container #side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #696969;
  width: 15%;
  height: 95%;
  border-radius: 10px;
  padding: 0.5vw;
  margin-left: 0.5vw;
  box-shadow: 0 0 0.2vw #0D0D0D;
}
body #container #side-bar h2 {
  font-size: 0.9vw;
}
body #container #side-bar #img-profile {
  background-color: #F2F2F2;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
}
body #container #side-bar .list-side {
  width: 70%;
  height: 25%;
  margin-top: 0.7vw;
  color: #F2F2F2;
}
body #container #side-bar .options-side {
  width: 60%;
  margin-top: 0.5vw;
  padding: 0.2vw;
  font-size: 0.8vw;
  border-radius: 5px;
  transition: 0.2s;
}
body #container #side-bar .options-side:hover {
  transition: 0.2s;
  background-color: rgb(135, 247, 255);
  cursor: pointer;
  color: #696969;
}
body #container #dashboard-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  width: 82%;
  height: 100%;
  padding: 0.5vw;
}
body #container #dashboard-info #first-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25%;
  padding: 0.25vw;
}
body #container #dashboard-info #first-bar .first {
  background-color: #696969;
  width: 23%;
  height: 90%;
  border-radius: 10px;
}
body #container #dashboard-info #second-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45%;
  padding: 0.25vw;
}
body #container #dashboard-info #second-bar .mid {
  background-color: #696969;
  width: 49%;
  height: 95%;
  border-radius: 10px;
}
body #container #dashboard-info #third-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45%;
  padding: 0.25vw;
}
body #container #dashboard-info #third-bar h2 {
  font-size: 1vw;
  color: #F2F2F2;
  margin: 0.5vw 0 0 1vw;
}
body #container #dashboard-info #third-bar .end {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  background-color: #696969;
  width: 31%;
  height: 95%;
  border-radius: 10px;
}
body #container #dashboard-info #third-bar .end h2 {
  align-self: flex-start;
  font-size: 0.7vw;
}
body #container #dashboard-info #third-bar .end .container-graphic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  align-items: flex-end;
  width: 95%;
  height: 80%;
}
body #container #dashboard-info #third-bar .end .container-graphic .graphic-bars {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  background-color: #404040;
  width: 20%;
  height: 100%;
  padding: 0.5vw;
  transition: 1s;
}
body #container #dashboard-info #third-bar .end .container-graphic .graphic-bars .month {
  font-size: 0.7vw;
  color: #D9D9D9;
}
body #container #dashboard-info #third-bar .end .container-graphic .graphic-bars .price {
  font-size: 0.5vw;
  color: #D9D9D9;
}/*# sourceMappingURL=style.css.map */